*{
  margin: 0;
  padding: 0;
}

.hero-container{
  width: 100%;
  height: 100vh;
  background: url(./assets/bg.png) center  / cover no-repeat fixed;
  position: relative;
}

.banner-image {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0;
}

.banner-image img {
  width: 50%;
}
.relative-parent{
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}

.form-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.title-container{
  color: #fff;
  background: #8BC43F;
  padding: 24px 20px;
  border-radius: 8px 0 0 8px;
  text-align: center;
}

.triangle-form__container{
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
  padding: 0px 12px 0px 0;
  border-radius: 0 8px 8px 0;
}

.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 47px 0 47px 16px;
  border-color: transparent transparent transparent #8BC43F;
}

form{
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form-title h2 {
  font-size: 20px;
  color: #6B6C6E;
}

.form-title span {
  color: #82C53A;
}

input{
  font-size: 16px;
  padding: 5px;
  border: 1px solid #aaa0a0;
  border-radius: 5px;
}

button{
  font-size: 16px;
  color: #fff;
  padding: 5px 44px;
  border-radius: 5px;
  background-color: #82C53A;
  border: 1px solid rgb(184, 156, 156);
}

.inputs{
  display: flex;
  gap: 20px;
}

@media screen and (width <= 1024px){
  .banner-image img {
    width: 60%;
  }
  .form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
  }
}

@media screen and (width <= 987px){
  .title-container{
    padding: 18px 9px;
  }
  .title-container h2{
    font-size: 18px;
  }
  .title-container p{
    font-size: 14px;
  }
  .triangle{
    border-width: 37px 0 37px 16px;
  }
  form{
    gap: 5px;
  }
  .inputs{
    display: flex;
    gap: 10px;
  }
  .form-title h2 {
    font-size: 16px;
    color: #6B6C6E;
  }
  input{
    font-size: 14px;
  }

  button{
    font-size: 14px;
  }
}

@media screen and (width <= 834px){
  .form-wrapper{
    flex-direction: column;
  }
  .title-container{
    width: 100%;
    padding: 18px 6px;
    border-radius: 8px 8px 0 0 ;
  }
  .title-container h2{
    margin-bottom: 12px;
    font-size: 22px;
  }
  .title-container p{
    font-size: 16px;
  }
  .triangle{
    display: none;
  }
  .triangle-form__container {
    border-radius: 0 0 8px 8px;
    width: 100%;
    justify-content: center;
  }

  form{
    padding: 20px;
  }

  .form-title h2 {
    margin-bottom: 10px;
}

  .inputs{
    flex-direction: column;
  }

}

@media screen and (width <= 428px){
  .banner-image {
    top: 40%;
  }
  .banner-image img {
    width: 90%;
  }
  .form-title h2 {
    margin-bottom: 0;
  }

  .title-container h2 {
    margin-bottom: 2px;
  }

  .form-title h2 {
    max-width: 200px;
    padding: 20px;
  }
  
  .triangle-form__container {
    padding: 0px 6px;
  }

  form{
    padding: 14px 0;
  }
}
